.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -25px; /* gutter size offset */
  width: auto;
  position: relative;
  z-index: 0;
}
.my-masonry-grid_column {
  padding-left: 25px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 25px;
}

.masonry-feeds-item {
  position: relative;
  &:hover {
    .feed-card-overlay {
      &-actions {
        opacity: 1;
        &-check {
          pointer-events: fill;
          border: none;
          outline: none;
          box-shadow: none;
          &:focus {
            outline: none;
            box-shadow: none;
            border: none;
          }
        }
      }
    }
  }
}

.feed-card-overlay {
  position: absolute;
  width: 100%;
  height: calc(100%);
  left: 0;
  top: 0;
  pointer-events: none;

  &-actions {
    background: linear-gradient(180deg, rgba(19, 19, 19, 0.3) -15%, rgba(19, 19, 19, 0.1) 10%, rgba(255, 255, 255, 0.02) 60%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    will-change: "opacity";
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    &-check {
      border: none;
      outline: none;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;
      transition-duration: 0.1s;
      filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.185));
    }
  }

  &:hover {
    .feed-card-overlay-actions {
      opacity: 1;
      &-check {
        pointer-events: fill;
        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.185));
      }
    }
  }
}

.show-feed-actions {
  .feed-card-overlay {
    &-actions {
      pointer-events: fill;
      opacity: 1;
      cursor: pointer;
    }
  }
}

.Cell {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #f7f7f7;
  word-break: break-all;
}
